<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892310049884-8ndfjsn9rmoeh1ll7d1g49lcv2jponfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892310049884-8ndfjsn9rmoeh1ll7d1g49lcv2jponfk</string>
	<key>API_KEY</key>
	<string>AIzaSyDN9FfTNQ35kWgznd1m4eLfgsZlCHKhzvU</string>
	<key>GCM_SENDER_ID</key>
	<string>892310049884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qemmaMobile</string>
	<key>PROJECT_ID</key>
	<string>al-qemma</string>
	<key>STORAGE_BUCKET</key>
	<string>al-qemma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892310049884:ios:ea7db00dae24981bf7c299</string>
	<key>DATABASE_URL</key>
	<string>https://al-qemma-default-rtdb.firebaseio.com</string>
</dict>
</plist>